@charset "UTF-8";
/*
    Em HTML é id = em CSS é #
    você pode indicar o # de duas formas: tag#nome ou #nome.
    Em HTML é class = em CSS é (.)

    !IMPORTANTE!
    Dentro de um documento HTML só pode haver um elemento com ID. Regra W3C. ID é único, class pode haver várias.
*/
body {
    background-color: #d6fde9;
    font-family: Arial, Helvetica, sans-serif;
}
h1 {
    color: #1e402f;
}
h1#principal {
    text-align: center;
    background-color: #3c805e;
    color: #ffffff;
}
h2 {
    
}
.basico {
    color: #3c805e;
    font-weight: bold; /*Negrito*/
}
.intermediario {
    color: #80793c;
}
.avancado {
    color: #803c3c;
}